/*personalized css*/

/*top nav*/
.top-container{
  background-color:#2B93E6;
  width:100%;
  height:39px;
}

h1{
  font-family: 'Kanit', sans-serif;
  color:white;
  font-size:10pt;
  position:absolute;
  top:12px;
  right:220px;

}

/*settings and question icons*/
h2{
  font-size:10pt;
  color:white;
  position:absolute;
  top:11px;
  right:165px;
}

/*dashboard*/
a.top{
  color:white;
  font-family:Trebuchet MS;
}
a.top:hover{
  color:#18517F;
  text-decoration: none;
  font-family:Trebuchet MS;
}

h3{
  font-size:10pt;
  color:white;
  position:absolute;
  top:11px;
  right:130px;

}
/*announements*/
h4{
  color:orange;
  font-family:arial;
  padding-top:16px;


  font-size:10pt;
}

/*border boxes*/
.col-md-3{
  border:1px solid #E7E9E7;
  background-color:white;
}

 .col-md-4{
   border:1px solid #E7E9E7;
   border-top:none;
   background-color:white;
   padding:0px;
 }
.col-lg-8, .col-md-1{
  border:1px solid #E7E9E7;
  border-left:none;
  background-color:white;

}

.col-md-8, .no-top{
  border:1px solid #E7E9E7;
  border-left:none;
  border-top:none;
  background-color:white;
  padding:0px;

}

.col-md-2{
  right:1vw;

}
/*latin*/
h5{
  color:#AFAFB8;
  font-family:arial;
  padding:12px;

  font-size:9pt;
  margin:none;
}
/*arrow icons*/
img.img-arrow{
  width:19px;
  position:relative;
  top:10px;
}
/*tasks and analytics*/
h6{
color:#2B93E6;
font-size:2vw;
font-family:Trebuchet MS;
padding:10px;
padding-left:10px;
}

/*recommendations*/
h8{
color:#2B93E6;
font-size:2vw;
font-family:Trebuchet MS;
padding-left:10px;
}

.line1{
  border-left:1px solid #247ABF;
  height:10px;
  padding:8px;
margin:12px;
  top:2px;
}

.line2{
  border-left:1px solid #247ABF;
  margin:12px;
  top:2px;
  padding:8px;
}

/*icon menu*/
.full-width{
  width:100%;
}

/*dashboard search*/
.navbar{
  background-color: #33CC66;
  position:relative;
  width:100%;
  height:5vw;
  margin:10px;
  padding:1vw;


}
.navbar-brand{
  font-size: 22pt;
  position:absolute;
  top:.5vw;
}
a.navbar-brand{
  color:white;
}

#custom-search-input{
          margin:0;
          margin-top: 10px;
          padding: 0;

      }

#custom-search-input .search-query {
          padding-right: 3px;
          padding-right: 4px \9;
          padding-left: 3px;
          padding-left: 4px \9;
          /* IE7-8 doesn't have border-radius, so don't indent the padding */

          margin-bottom: 0;
          -webkit-border-radius: 3px;

          border-radius: 3px;
      }

#custom-search-input button {
          border: 0;
          background: none;
          /** belows styles are working good */
          font-size:12pt;
          top:2px;

          left: -30px;
          /* IE7-8 doesn't have border-radius, so don't indent the padding */
          margin-bottom: 0;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          color:#2B93E6;}

.container-small{


}

.container{
  max-width:70%;

}
/*sprite css*/
.sprite{
  position:absolute;
    top:4.5vw;
}
.sprite-sprite-dashboard{


  left:28.1vw;
}

.sprite-sprite-graph{
right:28.2vw;
top:5vw;
}

.sprite-sprite-message{
  left:43vw;
}

.sprite-sprite-paper{
  right:35.7vw;
}

.sprite-sprite-people{
  left:35.7vw;
}

.sprite-sprite-tag{
  right:43.4vw;
}

.input-group{
  position:absolute;
  top:2vw;
  right:2vw;
}

img.container-border{
  width:72vw;
  position:absolute;
  right:14vw;
  top:19vw;
}

.pie{
  display:inline-block;
  position:relative;
  right:-3vw;
  top:-2vw;
}
/*drop down menu from j-Query: http://www.jquery-az.com/boots/demo.php?ex=14.0_6*/
.dropdown-menu{
    background-color: white;
    border: 1px solid gray;


}

.btn-group{
  position:absolute;
  right:15vw;
  top:5vw;
  color:#AFAFB8;
}

.btn-info{
  background-color:white;
  color:#AFAFB8;
}

.btn-info:hover{
  background-color:white;
}

.dropdown-toggle{
  background-color:white;
  color:orange;
}

.btn-info:hover{
  color:#AFAFB8;
}

img.bar-graph{
  position:relative;
  top:-5vw;
}

.tasks{
    color:#AFAFB8;
    font-family:Trebuchet MS;
    font-size:1.4vw;
    position:relative;
    top:.6vw;
    left:11vw;
  }



img.check{
  width:5vw;
  position:relative;
  bottom:13px;


}

/*custom check boxes*/
input[type=checkbox] {
    display:none;
}

input[type=checkbox] + label {
    background: url(../images/check-box.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0px;
    margin-left:10px;
}

input[type=checkbox]:checked + label[for=thing] {
    background: url(../images/orange-check.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0px;
}

input[type=checkbox]:checked + label[for=thing2] {
    background: url(../images/orange-check.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0px;
}

input[type=checkbox]:checked + label[for=thing3] {
    background: url(../images/orange-check.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0px;
}

input[type=checkbox]:checked + label[for=thing4] {
    background: url(../images/orange-check.jpg);
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0px;
}

.col-sm-12, .recs{
  border:1px solid #E7E9E7;
  border-left:none;
  border-bottom: none;
  border-right:none;
  background-color:white;
  padding:5px;

}

.col-md-12{



  background-color:white;

}


/*tasks content*/
h9{
  font-size:1.3vw;
  font-family:arial;
  padding-left: 0px;
}

a.task-items{
  color:#2B93E6;
  padding-left:0px;
}

a.task-items:hover{
  text-decoration: none;
  color:#AFAFB8;

}

.numberCircle {
    border-radius: 50%;
    color:white;
    width: 2vw;
    height:2vw;
    padding: 4px;
background: #33CC66;
    border: 2px solid;
    margin:5px;
    text-align: center;
    font: 1vw Arial, sans-serif;
    display: inline-block;

}


.numberCircle:hover{
  background:#AFAFB8;
}

.glyphicon-user{
  border: 1px solid;
  padding: 3px;
  border-radius:3px;
  margin:5px;
  position:absolute;
  right:1px;
}

a.glyphicon-user:link{
  border: 1px solid #2B93E6;
}
a.glyphicon-user:hover{
  border: 1px solid #AFAFB8;
}

.ppl{

  margin:4px;
  font-family:arial;
  font-size:10pt;
}
/*recommendations*/
h10{
  color:#AFAFB8;
  font-size:1vw;
}

.glyphicon-list-alt{
  color:#33CC66;
  font-size:1.2vw;
  margin:5px;
}

.article{
  width:2vw;
  margin:5px;
}

.col-xs-12{
  border:1px dashed #E7E9E7;
  border-left:none;
  border-bottom: none;
  border-right:none;
  background-color:white;

}

.contacts{
  width:18vw;
  padding-top:7px;
margin:2.2vw;

}

.customers{
  width:17.5vw;
  margin:1vw;
}

/*did you know box*/
.dyk1{
  position:absolute;
  left:-1px;
  top:2.3vw;
}

.dyk2{
  position:absolute;
  right:-1px;
  top:1.8vw;
}

img.dyk1, .dyk2{
  width:2vw;
}
.col-xl-12{
  background-color:#2A97ED;
  border-radius: 4px;
  width:100%;
}

p{
  color:white;
  font-family:arial;
  padding:30px;
  font-size: 1vw;
  margin:auto;
}

.col-xxl-12{
  background-color:#2A97ED;
  border-radius: 0px;
  width:100%;
}

/*advertisment images*/
img.version{
  position:absolute;
  left:10px;
  margin:auto;
  width:10vw;
}

img.see{
  position:absolute;
  margin:auto;
  width:10vw;
}

img.watch{
  position:absolute;
  right:10px;
  margin:auto;
  width:10vw;

}
