
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}


.sprite-sprite-dashboard {
    width: 84px;
    height: 69px;
    background-position: -5px -5px;
}

.sprite-sprite-graph {
    width: 84px;
    height: 56px;
    background-position: -99px -5px;
}

.sprite-sprite-message {
    width: 84px;
    height: 69px;
    background-position: -99px -71px;
}

.sprite-sprite-paper {
    width: 84px;
    height: 69px;
    background-position: -193px -5px;
}

.sprite-sprite-people {
    width: 84px;
    height: 69px;
    background-position: -5px -84px;
}

.sprite-sprite-tag {
    width: 84px;
    height: 69px;
    background-position: -193px -84px;
}

.sprite-button:hover {
  opacity: 0;
}

/*small sprites*/

.sprite-sm {
    background-image: url(../images/spritesheet-sm.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-sm-bars {
    width: 22px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-sm-dashboard {
    width: 24px;
    height: 22px;
    background-position: -37px -5px;
}

.sprite-sm-message {
    width: 24px;
    height: 22px;
    background-position: -5px -37px;
}

.sprite-sm-paper {
    width: 20px;
    height: 26px;
    background-position: -39px -37px;
}

.sprite-sm-people {
    width: 28px;
    height: 20px;
    background-position: -71px -5px;
}

.sprite-sm-tag {
    width: 24px;
    height: 20px;
    background-position: -71px -35px;
}

.sprite-sm-button:hover {
  opacity: 0%;
}


.sprite-sm {
    background-image: url(../images/spritesheet-sm.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-sm-bars {
    width: 22px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-sm-dashboard {
    width: 24px;
    height: 22px;
    background-position: -37px -5px;
}

.sprite-sm-message {
    width: 24px;
    height: 22px;
    background-position: -5px -37px;
}

.sprite-sm-paper {
    width: 20px;
    height: 26px;
    background-position: -39px -39px;
}

.sprite-sm-people {
    width: 28px;
    height: 20px;
    background-position: -71px -5px;
}

.sprite-sm-tag {
    width: 24px;
    height: 18px;
    background-position: -71px -35px;
}

.sprite-button:hover {
  opacity: 0%;
}
