
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}


.sprite-sprite-dashboard {
    width: 84px;
    height: 69px;
    background-position: -5px -5px;
}

.sprite-sprite-graph {
    width: 84px;
    height: 56px;
    background-position: -99px -5px;
}

.sprite-sprite-message {
    width: 84px;
    height: 69px;
    background-position: -99px -71px;
}

.sprite-sprite-paper {
    width: 84px;
    height: 69px;
    background-position: -193px -5px;
}

.sprite-sprite-people {
    width: 84px;
    height: 69px;
    background-position: -5px -84px;
}

.sprite-sprite-tag {
    width: 84px;
    height: 69px;
    background-position: -193px -84px;
}

.sprite-button:hover {
  opacity: 0;
}
